<%= render 'global_public/nav_primary' %>

<%= render partial: 'global_public/header', locals: { title: title } %>
<div class="container--about">

  <nav-scroll :nav-array="<%= page_sections(page) %>"></nav-scroll>

  <div class="container--public static-page">
    <div class="gutters content-padding--public">
    

      <% t(page).each_with_index do |item, index| %>

        <div id="<%= section_id(item) %>" class="block--about">
          <h2><%= item[:title] %></h2>

          <% if item[:content] %>
            <div><%= item[:content].html_safe %></div>
          <% end %>

          <% if item[:image] %>
            <figure>
              <%= image_tag item[:image], alt: item[:image_alt], class: 'static-page__figure' %>
              <figcaption><%= item[:caption] %></figcaption>
            </figure>
          <% end %>

          <% if item[:accordion] %>
            <%= render partial: 'global_public/accordion', locals: { accordion: item[:accordion] } %>
          <% end %>

          <% if item[:title] == 'About us' %>
            <div class="static-page__logo-banner flex flex-wrap flex-v-center">
            <%= link_to "", "https://www.geog.cam.ac.uk/graduate/mphil/conservation/", title: "University of Cambridge - Masters in Conservation Leadership", class: "logo--uoc" %>
            <%= link_to "", "https://environment.leeds.ac.uk/", title: "University of Leeds - Faculty of Environment", class: "logo--uol" %>
            <%= link_to "", "https://www.ed.ac.uk/geosciences/", title: "University of Edinburgh - School of Geosciences", class: "logo--uoe" %>
            <%= link_to "", "https://www.unep-wcmc.org/", title: "UN Environment World Conservation Monitoring Centre", class: "logo--unepwcmc" %>
            </div>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>

</div>