<%= render 'global_public/nav_primary' %>

<%= render partial: 'global_public/header', locals: { title: 'About the Debate' } %>

<div class="container--public flex">

  <div class="nav--side flex-vs-stretch flex-1-fith content-padding--public">
    <ul class="nav__ul ul-unstyled">
      <% t('about_debate').each do |item| %>
        <li class="nav__li flex flex-v-center flex-h-between">
          <span><%= item[:link] %></span>
          <i class="material-icons nav__icon">chevron_right</i>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="flex-4-fiths gutters content-padding--public">
    <% t('about_debate').each do |item| %>
      <div class="block--about">
        <h2><%= item[:title] %></h2>
        <div><%= item[:content].html_safe %></div>
      </div>
    <% end %>
  </div>

</div>
<%= render 'global_public/cta' %>


COPY OVER SCROLL NAV COMPONENT
REPLACE ABOVE NAV WITH NAV COMPONENT
RESTYLE TO MATCH DESIGN
THINK ABOUT HOW TO ORGANISE FILES AND STYLES WITH TEH BURGER NAV
ADD TO THE ABOUT PROJECT PAGE AS WELL