<%= render 'global_public/nav_primary' %>

<header class="hero--public flex flex-v-center">
  <div class="hero__content container--public center">
    <h1>Inform debates on the future of conservation</h1>
    <p class="hero__tagline">Give your views on conservation on a range of issues, see how you compare to others and contribute your views to shape future debates.</p>

    <div>
      <%= link_to 'Take the survey', new_survey_response_path(Survey.master_survey), class: 'button--blue-shadow hero__button' %>
    </div>
  </div>
</header>

<div class="gutters">
  <div class="block--public container--public-small">
    <%= image_tag 'logos/logo-foc-circle.svg', alt: 'Future of Conservation logo', class: "block__icon-foc" %>

    <h2><%= t('homepage.intro.title') %></h2>
    <%= t('homepage.intro.content').html_safe %>

    <%= link_to 'Take the survey', new_survey_response_path(Survey.master_survey), class: 'button--blue-shadow hero__button' %>

    <p><%= t('homepage.intro.ethics_statement').html_safe %></p>
  </div>

  <% t('homepage.blocks').each do |block| %>
    <div class="block--public container--public-small">
      <% if block[:image] %>
        <%= image_tag block[:image], alt: block[:image_alt], class: "block__icon-#{block[:image_class]}" %>
      <% end %>

      <h2><%= block[:title] %></h2>
      <p><%= block[:description].html_safe %></p>
    </div>
  <% end %>

</div>
