<%= render 'global_public/nav_primary' %>

<header class="hero--public flex flex-v-center">
  <div class="hero__content container--public center">
    <h1>Inform debates on the future of conservation</h1>
    <p class="hero__tagline">Give your views on conservation on a range of issues, see how you compare to others and contribute your views to shape future debates.</p>

    <div>
      <%= link_to 'Take the survey', new_survey_response_path(Survey.master_survey), class: 'button--blue-shadow hero__button' %>
    </div>
  </div>
</header>

<div class="gutters">

  <% t('homepage').each do |block| %>
    <div class="block--public container--public-small">
      <%= image_tag block[:icon], alt: 'Icon', class: "block__icon-#{block[:class]}" %>

      <h2><%= block[:title] %></h2>
      <p><%= block[:description] %></p>

      <%= link_to 'Find out more', block[:url], title: "Find out more about #{block[:title]}", class: 'button--blue-shadow' %>
    </div>
  <% end %>

</div>

<%= render 'global_public/cta' %>
