<div class="content-padding--large flex flex-h-center">
  <div class="container--small">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <carousel title="Sign up">
        <slide :first="true">
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :username %><br />
            <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
          </div>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
        </slide>

        <slide :last="true">
          <p>In this section we ask questions about the group/organisation that you,
            the survey administrator, belong to. This may be different from groups/organisations
            with which you will use the tool. We will ask you for details of those users when you
            create a survey.</p>
          <div class="field">
            <%= f.label "Name of Organisation/Group" %><br />
            <%= f.text_field :organisation_name, autofocus: true, autocomplete: "organisation_name" %>
          </div>
          <div class="field">
            <%= f.collection_radio_buttons :org_type, User.org_types, :first, :first %>
          </div>
          <div class="field">
            <%= f.label "(Specify)" %><br />
            <%= f.text_field :org_type_other, autofocus: true %>
          </div>
          <div class="field">
            <%= f.label "Geographical location" %><br />
            <%= f.select :country, (["More than one country"] << COUNTRIES).flatten, autofocus: true %>
          </div>

          <div class="field">
            <p>Please select</p>
            <%= f.collection_radio_buttons :use_type, User.use_types, :first, :first %>
          </div>
          <p>Is your organisation part of a wider network or structure?</p>
          <p>Please give details</p>
          <div class="actions">
            <%= f.submit "Create Account" %>
          </div>
        </slide>
      </carousel>
    <% end %>

  </div>
</div>
