<footer>
  <div class="footer--primary">
    <div class="container--public footer__content flex flex-v-center flex-h-between">
      <ul class="nav--footer ul-unstyled flex flex-wrap">
        <li class="nav__li"><%= link_to 'Home', root_path, title: 'Future of Conservation', class: 'nav__a' %></li>
        <li class="nav__li"><%= link_to 'About the Debate', about_the_debate_path, title: 'About the Debate', class: 'nav__a' %></li>
        <li class="nav__li"><%= link_to 'About the Project', about_the_project_path, title: 'About the Project', class: 'nav__a' %></li>
        <!--li class="nav__li"><%#= link_to 'Legal', legal_path, title: 'Legal', class: 'nav__a' %></li--> 
        <% unless user_signed_in? %>
          <li class="nav__li"><%= link_to 'Log in', new_user_session_path, title: 'Log in', class: 'nav__a' %></li>
        <% end %>
      </ul>
      <%= link_to '', root_path, title: 'Future of Conservation', class: 'logo--foc-white' %>
    </div>
  </div>

  <div class="footer--secondary">
    <div class="container--public footer__content flex flex-v-center flex-h-between">
      <p class="footer__copyright no-margin">&copy; Copyright <%= Date.today.year %></p>
      <%= render 'global/funder_logos'%>
    </div>
  <div>
</footer>
