<footer>
  <div class="footer--primary">
    <div class="container--public footer__content flex flex-v-center flex-h-between">
      <ul class="nav--footer ul-unstyled flex flex-wrap">
        <li class="nav__li"><%= link_to t('nav.home'), root_path, title: 'Future of Conservation', class: 'nav__a' %></li>
        <li class="nav__li"><%= link_to t('nav.about_debate'), about_the_debate_path, title: t('nav.about_debate'), class: 'nav__a' %></li>
        <li class="nav__li"><%= link_to t('nav.about_project'), about_the_project_path, title: t('nav.about_project'), class: 'nav__a' %></li>
        <!--li class="nav__li"><%#= link_to 'Legal', legal_path, title: 'Legal', class: 'nav__a' %></li--> 
        <% unless user_signed_in? %>
          <li class="nav__li"><%= link_to t('nav.log_in'), new_user_session_path, title: t('nav.log_in'), class: 'nav__a' %></li>
        <% end %>
      </ul>
      <%= link_to '', root_path, title: 'Future of Conservation', class: 'logo--foc-white' %>
    </div>
  </div>

  <div class="footer--secondary">
    <div class="container--public footer__content flex flex-v-center flex-h-between">
      <p class="footer__copyright no-margin">&copy; Copyright <%= Date.today.year %></p>
      <%= render 'global/funder_logos'%>
    </div>
  <div>
</footer>
