<footer class="footer--public flex flex-v-center">
  <div class="container--public">

    <div class="footer__content flex flex-v-center flex-h-between">
      <ul class="nav--footer ul-unstyled flex flex-wrap">
        <li class="nav__li"><%= link_to 'Home', root_path, title: 'Future of Conservation', class: 'nav__a' %></li>
        <li class="nav__li"><%= link_to 'About the Debate', about_the_debate_path, title: 'About the Debate', class: 'nav__a' %></li>
        <li class="nav__li"><%= link_to 'About the Project', about_the_project_path, title: 'About the Project', class: 'nav__a' %></li>
        <!--li class="nav__li"><%#= link_to 'Legal', legal_path, title: 'Legal', class: 'nav__a' %></li--> 
        <% unless user_signed_in? %>
          <li class="nav__li"><%= link_to 'Log in', new_user_session_path, title: 'Log in', class: 'nav__a' %></li>
        <% end %>
      </ul>
      <div class="footer__funder-logos flex flex-v-center">
        <span title='Economic & Social Research Council' class='logo--esrc'></span>
        <span title='Cambridge Conservation Initiative' class='logo--cci'></span>
      </div>
      <%= link_to '', root_path, title: 'Future of Conservation', class: 'logo--foc-white' %>
    </div>

    <p class="footer__copyright no-margin">&copy; Copyright <%= Date.today.year %> GoFox</p>

  </div>
</footer>
