<footer class="footer--public flex flex-v-center">
  <div class="container--public">

    <div class="footer__content flex flex-v-center flex-h-between">
      <ul class="nav--footer ul-unstyled flex flex-wrap">
        <li class="nav__li"><%= link_to 'Home', '/', title: 'Future of Conservation', class: 'nav__a' %></li>
        <li class="nav__li"><%= link_to 'About the Debate', '#TODO', title: 'About the Debate', class: 'nav__a' %></li>
        <li class="nav__li"><%= link_to 'About the Project', '#TODO', title: 'About the Project', class: 'nav__a' %></li>
        <li class="nav__li"><%= link_to 'Legal', '#TODO', title: 'Legal', class: 'nav__a' %></li>
      </ul>

      <%= link_to '', '/', title: 'Future of Conservation', class: 'logo--foc footer__logo' %>
    </div>

    <p class="footer__copyright no-margin">&copy; Copyright <%= Date.today.year %> GoFox</p>

  </div> 
</footer>