<%= form_with(model: [:survey, response], local: true, class: 'stacy') do |form| %>
  <% if response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields_for :answers do |answer_form| %>
    
    <page-item class="question" :index="<%= answer_form.index %>">

      <% if answer_form.object.question.class.name == "Question" %>

        <div class="question__title box--grey-light">
          <h3><%= answer_form.object.question.text %></h3>
        </div>

        <radio-buttons 
          :options="<%= scale_options_for_answers %>"
          :index="<%= answer_form.index %>"
          model="response"
          attribute="answers_attributes">
        </radio-buttons>

        <%= answer_form.hidden_field :answerable_type, value: answer_form.object.question.class.name %>
        <%= answer_form.hidden_field :answerable_id, value: answer_form.object.question.id %>

      <% else answer_form.object.question.class.name == "DemographicQuestion" %>
        Another question
        <%= react_component "DemographicQuestion", {
          question: answer_form.object.question,
          questionType: answer_form.object.question.question_type,
          questionClass: answer_form.object.question.class.name,
          model: "response",
          attribute: "answers_attributes",
          index: answer_form.index,
          options: answer_form.object.question.options,
          field: "raw"
        } %>
      <% end %>
    </page-item>
  <% end %>

  <page-item class="actions flex flex-h-center" type="submit">
    <%= form.submit({ value: 'Get results', class: 'button--clue-shadow'}) %>
  </page-item>
<% end %>
