<%= form_with(model: [:survey, response], local: true) do |form| %>
  <% if response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields_for :answers do |answer_form| %>
    
    <page-item class="question" :index="<%= answer_form.index %>">

      <% if answer_form.object.question.class.name == "Question" %>
      
        <div class="question__title box--grey-light">
          <h3><%= answer_form.object.question.text %></h3>
        </div>

        <p class="flex">
          <%= answer_form.collection_radio_buttons :raw, scale_options_for_answers, :to_s, :to_s, { checked: answer_form.object.raw, required: true } do |b| %>
            <span class="radio-button">
              <%= b.radio_button(class: 'radio-button__input') %>
              <%= b.label(class: "radio-button__label radio-button__label-#{b.text.downcase.tr(' ', '-')} flex flex-column flex-h-center") %>
              <i class="radio-button__tick"></i>
            </span>
          <% end %>
        </p>

        <%= answer_form.hidden_field :answerable_type, value: answer_form.object.question.class.name %>
        <%= answer_form.hidden_field :answerable_id, value: answer_form.object.question.id %>

    <% else answer_form.object.question.class.name == "DemographicQuestion" %>
      Another question
      <%= react_component "DemographicQuestion", {
        question: answer_form.object.question,
        questionType: answer_form.object.question.question_type,
        questionClass: answer_form.object.question.class.name,
        model: "response",
        attribute: "answers_attributes",
        index: answer_form.index,
        options: answer_form.object.question.options,
        field: "raw"
      } %>
      <% end %>
    </page-item>
  <% end %>

  <page-item class="actions" type="submit">
    <button class="button--large-chevrons">
      Get results<i class="material-icons">chevron_right</i><i class="material-icons">chevron_right</i>
    </button>
  </page-item>
<% end %>
