<%= form_with(model: [:survey, response], local: true, id: 'form-survey') do |form| %>

  <validation-message message="Please complete the questions highlighted below to continue."></validation-message>
  
  <%= form.fields_for :answers do |answer_form| %>
    
    <page-item :index="<%= answer_form.index %>" class="question">

      <template slot="formField" slot-scope="props">
        <div class="question__title">
          <h3><%= answer_form.object.question.text %></h3>
        </div>
        
        <%= get_form_field answer_form %>

        <%= answer_form.hidden_field :answerable_type, value: answer_form.object.question.class.name %>
        <%= answer_form.hidden_field :answerable_id, value: answer_form.object.question.id %>
      </template>
    </page-item>
  <% end %>

  <submit id="form-survey"></submit>

<% end %>
