<div class="title-bar flex flex-v-center gutters">
  <%= link_to root_path, title: 'Back to the dashboard', class: 'button--back flex flex-v-center flex-1 flex-h-start' do %>
    <i class="material-icons">arrow_back</i><span>Dashboard</span>
  <% end %>

  <h1 class="h1--small-uppercase"><%= @survey.name %> responses</h1>

  <div class="title-bar--hidden"></div>
</div>

<div class="container--medium content-padding">

  <div class="flex box--grey-light">
    <div class="flex flex-1-half flex-column flex-v-center">
      <p class="text-14"><%= @survey.user.organisation_name %></p>

      <p class="text-40"><span class="bold"><%= pluralize(@responses.count, "result") %></p>

      <%= link_to export_survey_path(@survey), title: "Download the results for #{@survey.name}", class: 'button--download flex flex-v-center' do %>
        CSV<i class="material-icons">file_download</i>
      <% end %>
    </div>

    <chart-results :translations="<%= t('results.chart').to_json %>" :data="<%= @results_chart_data %> "></chart-results>
  </div>

  <p>
    The figure above provides a summary of the results of everyone who has taken your survey so far. Their individual results can be explored below. When you are ready to analyse the results of your group, you can download the full data file by clicking on the “CSV” button above. Save this file wherever you choose, and then click on the “GO-FOX analysis site” button below. This will open the GO-FOX analysis website in a new tab. The site will open on the “Upload your data” page. Click the “Browse” button and then choose your data file from its saved location. You are then ready to explore your results by navigating through the various tabs on the left hand side of the page. Further instructions for how to analyse and interpret your results, including a tutorial video, can be found on the <a href="/admin/support" title="Go to the support page" target="_blank">support</a> page. 
  </p>

  <%= link_to "https://futureofconservation.shinyapps.io/go-fox/", 
    target: '_blank',
    title: 'GO-FOX Analysis site',
    class: 'button--large-chevrons flex flex-v-center' do 
  %>
    GO-FOX Analysis site: 
    <i class="material-icons">chevron_right</i>
    <i class="material-icons">chevron_right</i>
  <% end %>

  <ul class="table--results ul-unstyled">
    <li class="table__header flex">
      <p class="table__heading table__heading-1">ID</p>
      <p class="table__heading table__heading-2">Score</p>
      <p class="table__heading table__heading-3">Created on</p>
    </li>

    <% @responses.each do |response| %>
      <li class="table__row flex flex-v-center">
        <p class="table__heading-1"><%= response.id %></p>
        <p class="table__heading-2"><%= response_score(response) %></p>
        <p class="table__heading-3"><%= response.created_at.strftime("%d/%m/%y") %></p>
        <p class="table__buttons flex flex-v-center">
          <%= link_to survey_response_path(@survey, response), method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete result', class: 'button--delete flex flex-v-center' do %>
            <i class="material-icons">delete</i>
          <% end %>
          
          <%= link_to results_survey_response_path(@survey, response), title: 'View survey results', class: 'button--large-chevrons flex flex-v-center' do %>
            Result<i class="material-icons">chevron_right</i><i class="material-icons">chevron_right</i>
          <% end %>

          <%= link_to survey_response_path(@survey, response), title: 'Show full response', class: 'button--large-chevrons flex flex-v-center' do %>
            Full response<i class="material-icons">chevron_right</i><i class="material-icons">chevron_right</i>
          <% end %>
        </p>
      </li>
    <% end %>

  </ul>
</div>
