<%= render partial: 'global_public/header', locals: { title: @survey.name } %>
<%= render partial: 'global/survey_warning', locals: { master: @survey.master } %>

<div class="container--public content-padding">

  <progress-bar :translations="<%= t('pagination').to_json %>"></progress-bar>

  <%= render 'form', response: @response, questions: @questions %>

  <div class="flex flex-h-between">
    <pagination-button 
      type="previous"
      :section-totals="<%= @question_section_counts %>"><%= t('buttons.previous') %></pagination-button>
    <pagination-button type="next" class="button--large-chevrons">
      <%= t('buttons.next') %><i class="material-icons">chevron_right</i><i class="material-icons">chevron_right</i>
    </pagination-button>
  </div>
</div>
