<div class="title-bar flex flex-v-center gutters">
  <% if current_user %>
    <%= link_to survey_responses_path(@survey), title: 'Back to the list of survey responses', class: 'button--back flex flex-v-center flex-1 flex-h-start' do %>
      <i class="material-icons">arrow_back</i><span>Responses list</span>
    <% end %>
  <% end %>
  <h1 class="h1--small-uppercase">Results <span class="normal">ID<%= @response.id %></span></h1>

  <div class="title-bar--hidden"></div>
</div>

<div class="container--medium content-padding">

  <div class="box--grey-light box-padding--even">
    <chart-results :data="<%= @results_chart_data %>"></chart-results>
  </div>

  <div class="results__content flex">
    <div class="flex-2-thirds">
      <div class="block--results">
        <h2><%= t('results.title') %></h2>
        <div><%= t('results.content').html_safe %></div>
      </div>
    </div>

    <div class="results__content--right flex-1-third">
      <div class="box--beige-light box-padding box-spacing box-margin-bottom">
        <h3>Contact</h3>
        <p class="text-14">For more information about The Future of Conservation project please email:</p>
        <p class="text-14"><a href="mailto:futureofconservation@gmail.com" title="Email The Future of Conservation">futureofconservation@gmail.com</a></p>
      </div>
      <%= render 'global_public/sharing_icons' %>
    </div>
  </div>
</div>
