<p id="notice"><%= notice %></p>

<p>
  <strong>ip address:</strong>
  <%= @response.ip_address %>
</p>

<p>
  <strong>x_score:</strong>
  <%= @response.x_score %>
</p>

<p>
  <strong>y_score:</strong>
  <%= @response.y_score %>
</p>

<p>
  <strong>z_score:</strong>
  <%= @response.z_score %>
</p>

<p>
  <strong>classification:</strong>
  <%= @response.classification.name %>
</p>
