<p id="notice"><%= notice %></p>

<p>
  <strong>ip address:</strong>
  <%= @response.ip_address %>
  <strong>x_axis_scaled:</strong>
  <%= @response.x_axis_scaled %>
  <strong>y_axis_scaled:</strong>
  <%= @response.y_axis_scaled %>
  <strong>z_axis_scaled:</strong>
  <%= @response.z_axis_scaled %>
</p>
