<div class="topbar--admin gutters flex flex-v-center flex-h-between">
  <%= link_to admin_root_path, title: 'gofox' do %>
    <%= image_tag 'logos/logo-gofox.svg', alt: 'gofox logo', width: '113px', height: '51px' %>
  <% end %>

  <div>
    <% if user_signed_in? %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'button--log-in' %>
    <% else %>
      <%= link_to 'Log in', new_user_session_path, title: 'Log in', class: 'button--log-in' %>
      <%= link_to 'Sign up', new_user_registration_path, title: 'Sign up', class: 'button--sign-up' %>
    <% end %>
  </div>
</div>
