<div class="nested-fields">
  <p>
    <%= f.label :demographic_question_id %>
    <%= f.collection_select :demographic_question_id, DemographicQuestion.all, :id, :text %>
  </p>

  <p>
    <%= f.label :text %>
    <%= f.text_field :text %>
  </p>

  <div class="field">
    <%= f.fields_for :options do |options_form| %>
      <%= render partial: 'surveys/option_fields', locals: {f: options_form} %>
    <% end %>

    <%= link_to_add_association 'Add Option', f, :options %>
  </div>

  <%= link_to_remove_association "Remove Custom Question", f, {class: "button"} %>
</div>
