<div class="nested-fields">
  <!---
  <div class="field">
    <p>
      <% #= f.label :demographic_question_id %>
      <% #= f.collection_select :demographic_question_id, @customisable_questions, :id, :text %>
    </p>
  </div>
  -->
  <div class="field">
    <p>
      <%= f.label :text %>
      <%= f.text_field :text %>
    </p>
  </div>

  <%= link_to_remove_association "Remove Custom Question", f, {class: "button"} %>
  <%= link_to_add_association 'Add Option', f, :options, {'data-association-insertion-method' => 'append'} %>

  <div class="field">
    <%= f.fields_for :options do |options_form| %>
      <%= render partial: 'surveys/option_fields', locals: {f: options_form} %>
    <% end %>
  </div>
</div>
