<%
  context_example = '(e.g. as a training session at Conference X)'
%>

<% if survey.id.nil? %>
  <%= render partial: 'form_elements/text_field', 
    locals: {
      form: form,
      id: 'previous_id',
      name: '[settings][survey_previous_id]',
      label: 'Previous survey ID',
      description: 'If you wish to compare results with a previous survey you have conducted, please enter the Survey ID for the previous survey here.'
    }
  %>

  <%= render partial: 'form_elements/collection_buttons',
    locals: {
      form: form,
      type: "radio",
      class: "inline",
      label: "Default language",
      rb_config: ['[settings][default_language]', surveys_data("default_language"), :first, :last],
      description: 'Please choose the language in which your respondents will take the survey. Please note that the GO-FOX interface is only available in English at present.'
    } %>
  <%= render partial: 'form_elements/text_field', 
    locals: {
      form: form,
      id: 'name_of_course',
      name: '[settings][name_of_course]',
      label: 'Name of course/module',
      description: 'If relevant please give the name of the broader course/module within which you plan to use the survey (e.g. Conservation Social Science 101):'
    }
  %>

  <%= render partial: 'form_elements/text_field', 
    locals: {
      form: form,
      id: 'course_url',
      name: '[settings][course_url]',
      label: 'Course website/URL (if available):'
    }
  %>

  <%= render partial: 'form_elements/collection_buttons',
    locals: {
      form: form,
      type: "radio",
      option_class: "two-col",
      label: 'Disciplinary specialism of the course/module:',
      rb_config: ['[settings][participant_specialism]', surveys_data("participant_specialism"), :first, :last]
    } 
  %>

  <%= render partial: 'form_elements/collection_buttons',
    locals: {
      form: form,
      type: "radio",
      label: "Please select the most appropriate answer for the level of study at which you plan to use the survey:",
      rb_config: ['[settings][participant_level_of_study]', surveys_data("participant_level_of_study"), :first, :last]
    } 
  %>
  <%= form.text_field '[settings][participant_level_of_study_other]' %>

  <%= render partial: 'form_elements/text_field', 
    locals: {
      form: form,
      id: 'participant_org_name',
      name: '[settings][participant_org_name]',
      label: 'Name of group/organisation running the session in which you will use the survey:',
      description: 'e.g. the University of X OR Collaborative Project Y'
    }
  %>

  <%= render partial: 'form_elements/text_field', 
    locals: {
      form: form,
      id: 'name_of_group_organisation_of_participants',
      name: '[settings][name_of_group_organisation_of_participants]',
      label: 'Name of group/organisation of participants in the session:',
      description: 'Only answer this question if the group/organiastion or participants is different from the one running the session (e.g. if you are running the session with staff of a particular organisation)'
    }
  %>

  <%= render partial: 'form_elements/text_field', 
    locals: {
      form: form,
      id: 'size_of_group',
      name: '[settings][size_of_group]',
      label: 'Size of group:',
      description: 'Please specify as accurately as possible the size of the group to whom you plan to send the survey'
    }
  %>

  <%= render partial: 'form_elements/date_select', 
    locals: {
      form: form,
      id: 'session_date',
      name: '[settings][session_date]',
      label: 'Session date',
      description: 'Please give the expected date of the session within which you plan to use the survey results (if known)',
      start_year: Date.current.year
    }
  %>

  <%= render partial: 'form_elements/text_field', 
    locals: {
      form: form,
      id: 'other_details',
      name: '[settings][other_details]',
      label: 'Any other details',
      description: 'Please provide any further details about the context within which you plan to use GO-FOX ' + context_example
    }
  %>

  <%= render partial: 'form_elements/text_area', 
    locals: {
      form: form,
      id: 'hope_to_achieve',
      name: '[settings][hope_to_achieve]',
      label: 'What do you hope to achieve from using GO-FOX with this class?'
    }
  %>

  <!---
  <div class="field">
    <%= render partial: 'form_elements/collection_buttons',
      locals: {
        form: form,
        type: "radio",
        option_class: "inline",
        label: "Follow up session?",
        description: "Lorem ipsum",
        rb_config: ['[settings][follow_up_session]', surveys_data("follow_up_session"), :first, :last]
      } %>
  </div>
  --->

<!---
  <div class="field">
    <label for="">
      Anonymity.
    </label>
    <%= form.collection_radio_buttons '[settings][anonymity]', surveys_data("anonymity"), :first, :last %>
  </div>
  --->

<% else %>
  <br><hr>

  <p>
    Previous survey ID: <%= survey.settings["survey_previous_id"] %>
  </p>

  <p>
    Default language: <%= survey.settings["default_language"] %>
  </p>

  <p>
    Participants' organisation name: <%= survey.settings["participant_org_name"] %>
  </p>

  <p>
    Name of group/organisation of participants in the session: <%= survey.settings["name_of_group_organisation_of_participants"] %>
  </p>

  <p>
    Participants' level of study: <%= survey.settings["participant_level_of_study"] %>
  </p>

  <p>
    Participants' level of study (other): <%= survey.settings["participant_level_of_study_other"] %>
  </p>

  <p>
    Disciplinary specialism of the course/module: <%= survey.settings["participant_specialism"] %>
  </p>

  <p>
    Name of Course/module: <%= survey.settings["name_of_course"] %>
  </p>

  <p>
    Course website/url: <%= survey.settings["course_url"] %>
  </p>

  <p>
    Size of group: <%= survey.settings["size_of_group"] %>
  </p>
  <!---
  <p>
    Follow up session?: <%= survey.settings["follow_up_session"] %>
  </p>
  --->
  <p>
    Session date: <%= survey.settings["session_date"].map{|k,v| v}.join("-").to_date %>
  </p>

  <p>
    Anonymity: <%= survey.settings["anonymity"] %>
  </p>

  <p>
    What do you hope to achieve from using GO-FOX with this class?: <%= survey.settings["hope_to_achieve"] %>
  </p>
<% end %>
