<%= form_tag export_survey_path(survey), method: :get do |form| %>
  <div>
    <%= label_tag :from_date %>
    <%= date_field_tag :from_date, Date.new(2018, 1, 1) %>
  </div>

  <div>
    <%= label_tag :to_date %>
    <%= date_field_tag :to_date, Date.today %>
  </div>

  <%= submit_tag "Export" %>
<% end %>
