<%
  title_example = current_user.use_type == "educational" ? 
    '(e.g. Conservation course: class of 2019)' : 
    '(e.g. Staff values survey: 2019)'
%>
<%= form_with(model: survey, local: true) do |form| %>
  <% if survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!---<% I18n.available_locales.each do |locale| %>
    <h1><%= locale %></h1>
    <%= form.globalize_fields_for locale do |ff| %>
      <div class="field">
        <%= ff.label :name %>
        <%= ff.text_field :name, id: :survey_name %>
      </div>

      <div class="field">
        <%= ff.label :description %>
        <%= ff.text_area :description, id: :survey_description %>
      </div>
    <% end %>
  <% end %>--->
  <p>
    Please tell us about the specific context in which you plan to use this survey by answering the following questions.
  </p>

  <%= render partial: 'form_elements/text_field', 
    locals: {
      form: form,
      id: 'title',
      name: :name,
      label: 'Survey title',
      description: 'Please enter a title for this survey within your GO-FOX account ' + title_example
    }
  %>

  <% if current_user.admin? || current_user.use_type == "organisational" %>
    <%= render partial: 'organisational_fields', locals: { survey: survey, form: form } %>
  <% elsif current_user.use_type == "educational" %>
    <%= render partial: 'educational_fields', locals: { survey: survey, form: form } %>
  <% end %>

  <h4>Customised Questions</h4>
  <p>
    You can add up to three customised questions to the survey that your respondents will see. This allows you to compare the answers of different subgroups of interest to you (e.g. the team or office they belong to within your organisation). Each question you create needs to be in a multiple choice format with a maximum of ten options. Each respondent can only select one option.
  </p>
  <p>
    These questions will be in addition to the standard demographic questions in the Future of Conservation Survey (e.g. gender, educational specialism, age, etc. Check the full survey at <a href="http://www.futureconservation.org" target="_blank" title="Visit the Future of Conservation website">www.futureconservation.org</a> to see these questions).
  </p>
  <hr>

  <div class="customised_questions">
    <%= form.fields_for :customised_questions do |customised_questions_form| %>
      <%= render partial: 'surveys/customised_question_fields', locals: { f: customised_questions_form } %>
    <% end %>

    <%= link_to_add_association 'Add Custom Question', form, :customised_questions, {class: "add-customised-question"} %>
  </div>

  <% if current_user.admin? %>
    <div class="field">
      <%= form.label :locked %>
      <%= form.check_box :locked, id: :survey_locked %>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :published %>
    <%= form.check_box :published, id: :survey_published %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
