<%= form_with(model: survey, local: true) do |form| %>
  <% if survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% I18n.available_locales.each do |locale| %>
    <h1><%= locale %></h1>
    <%= form.globalize_fields_for locale do |ff| %>
      <p>
        <%= form.label :name %>
        <%= ff.text_field :name, id: :survey_name %>
        <%= form.label :description %>
        <%= ff.text_area :description, id: :survey_description %>
      </p>
    <% end %>
  <% end %>

  <h3>Customised Questions</h3>
  <hr>

  <%= form.fields_for :customised_questions do |customised_questions_form| %>
    <p>
      <%= customised_questions_form.label :demographic_question_id %>
      <%= customised_questions_form.collection_select :demographic_question_id, DemographicQuestion.all, :id, :text %>
    </p>

    <p>
      <%= customised_questions_form.label :text %>
      <%= customised_questions_form.text_field :text %>
    </p>
  <% end %>


  <div class="field">
    <%= form.label :published %>
    <%= form.check_box :published, id: :survey_published %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
