<%
  context_example = '(e.g. as part of a strategic planning process)'
%>

<% if survey.id.nil? %>
  <!---
  <%= render partial: 'form_elements/text_field', 
    locals: {
      form: form,
      id: 'previous_id',
      name: '[settings][survey_previous_id]',
      label: 'Previous survey ID',
      description: 'If you wish to compare results with a previous survey you have conducted, please enter the Survey ID for the previous survey here.'
    }
  %>
  --->

  <%= render partial: 'form_elements/collection_buttons',
    locals: {
      form: form,
      type: "radio",
      class: "inline",
      label: "Default language",
      rb_config: ['[settings][default_language]', surveys_data("default_language"), :first, :last],
      description: 'Please choose the language in which your respondents will take the survey. Please note that the GO-FOX interface is only available in English at present.'
    } %>
  <%= render partial: 'form_elements/text_field', 
    locals: {
      form: form,
      id: 'participant_org_name',
      name: '[settings][participant_org_name]',
      label: 'Name of group/organisation running the session in which you will use the survey:',
      description: 'e.g. NGO X OR Collaborative Project Y'
    }
  %>

  <%= render partial: 'form_elements/text_field', 
    locals: {
      form: form,
      id: 'name_of_group_organisation_of_participants',
      name: '[settings][name_of_group_organisation_of_participants]',
      label: 'Name of group/organisation of respondents to your survey:',
      description: 'Only answer this question if the group/organisation of participants is different from the one running the session (e.g. if you are running the session with staff of a different organisation)'
    }
  %>

  <br><hr>
  <p>For the remaining questions, please answer for the group/organisation of respondents who will be taking your survey.</p>
  
  <%= render partial: 'form_elements/text_field', 
    locals: {
      form: form,
      id: 'course_url',
      name: '[settings][course_url]',
      label: 'Group/Organisation website/URL (if available):'
    }
  %>

  <%= render partial: 'form_elements/collection_buttons',
  locals: { 
    form: form,
    type: "radio",
    label: "Type of group/organisation of respondents to your survey",
    description: 'Which of the following best describes the group/organisation of respondents to your survey?',
    rb_config: ['[settings][type_of_organisation]', surveys_data("type_of_organisation"), :first, :last] 
  } %>
  <%= form.text_field '[settings][org_type_other]' %>

  <%= render partial: 'form_elements/select_field', 
    locals: {
      form: form,
      id: 'location_of_organisation',
      name: '[settings][location_of_organisation]',
      label: 'Please select the main location of the group/organisation:',
      data: surveys_data("location_of_organisation")
    }
  %>

  <!---
  <div class="field">
    <%= render partial: 'form_elements/collection_buttons',
        locals: { 
        form: form,
        type: "radio",
        option_class: "inline",
        label: "3. Is organisation part of a wider network of organisations?",
        rb_config: ['[settings][wider_network]', surveys_data("wider_network"), :first, :last] 
      } %>
    <%= form.text_area '[settings][wider_network_details]' %>
  </div>
  -->

  <div class="field">
    <%= render partial: 'form_elements/collection_buttons',
        locals: { 
        form: form,
        type: 'check_box',
        option_class: 'one-col',
        label: "What kind of conservation activities does the group/organisation do?",
        description: 'Please select all options that apply:',
        rb_config: ['[settings][kind_of_conservation_activities]', surveys_data("kind_of_conservation_activities"), :first, :last]
      } %>
    <%= form.text_area '[settings][kind_of_conservation_activities_other]' %>
  </div>

  <%= render partial: 'form_elements/date_select', 
    locals: {
      form: form,
      id: 'date_established',
      name: '[settings][date_established]',
      label: 'What year was the group/organisation established? (if known)',
      start_year: 1900,
      end_year: Date.current.year,
      discard_day: true,
      discard_month: true
    }
  %>

  <%= render partial: 'form_elements/collection_buttons',
    locals: { 
    form: form,
    type: 'check_box',
    label: "Group/organisation funding sources:",
    option_class: 'one-col',
    rb_config: ['[settings][organisation_funding_sources]', surveys_data("organisation_funding_sources"), :first, :last]
  } %>
  <%= form.text_area '[settings][organisation_funding_sources_other]' %>

  <%= render partial: 'form_elements/text_field', 
    locals: {
      form: form,
      id: 'size_of_organisation',
      name: '[settings][size_of_organisation]',
      label: 'Size of organisation:',
      description: 'How many people belong to the overall group/organisation?'
    }
  %>

  <%= render partial: 'form_elements/text_field', 
    locals: {
      form: form,
      id: 'size_of_group',
      name: '[settings][size_of_group]',
      label: 'Size of group:',
      description: 'Please specify as accurately as possible the size of the group to whom you plan to send the survey'
    }
  %>

  <%= render partial: 'form_elements/collection_buttons',
    locals: { 
    form: form,
    type: "checkbox",
    option_class: "two-col",
    label: "Geographical scope of the group/organisation:",
    description: 'Please select all that apply',
    rb_config: ['[settings][geographical_scope]', surveys_data("geographical_scope"), :first, :last]
  } %>

  <%= render partial: 'form_elements/date_select', 
    locals: {
      form: form,
      id: 'session_date',
      name: '[settings][session_date]',
      label: 'Session date',
      description: 'Please give the expected date of the session within which you plan to use the survey results (if known)',
      start_year: Date.current.year
    }
  %>

  <%= render partial: 'form_elements/text_field', 
    locals: {
      form: form,
      id: 'other_details',
      name: '[settings][other_details]',
      label: 'Any other details',
      description: 'Please provide any further details about the context within which you plan to use GO-FOX ' + context_example
    }
  %>

  <%= render partial: 'form_elements/text_area', 
    locals: {
      form: form,
      id: 'hope_to_achieve',
      name: '[settings][hope_to_achieve]',
      label: 'What do you hope to achieve from using GO-FOX with this class?'
    }
  %>
  <!---
  <div class="field">
  <%= render partial: 'form_elements/collection_buttons',
      locals: { 
      form: form,
      type: "radio",
      option_class: "inline",
      label: "Follow up session?",
      rb_config: ['[settings][follow_up_session]', surveys_data("follow_up_session"), :first, :last]
    } %>
  </div>
  --->


<!---
  <div class="field">
    <label for="">
      Anonymity.
    </label>
    <%= form.collection_radio_buttons '[settings][anonymity]', surveys_data("anonymity"), :first, :last %>
  </div>
  --->
<% else %>
  <br><hr>

  <p>
    Previous survey ID: <%= survey.settings["survey_previous_id"] %>
  </p>

  <p>
    Default language: <%= survey.settings["default_language"] %>
  </p>

  <p>
    Participants' organisation name: <%= survey.settings["participant_org_name"] %>
  </p>

  <p>
    Name of group/organisation of respondents to your survey: <%= survey.settings["name_of_group_organisation_of_participants"] %>
  </p>

  <p>
    Type of organisation: <%= survey.settings["type_of_organisation"] %>
  </p>

  <% if survey.settings["type_of_organisation"] == "other" %>
    <p>
      Details for other organisation: <%= survey.settings["org_type_other"] %>
    </p>
  <% end %>

  <p>
    Location of organisation: <%= survey.settings["location_of_organisation"] %>
  </p>

  <!---
  <p>
    Is organisation part of a wider network of organisations?: <%= survey.settings["wider_network"] %>
  </p>

  <p>
    Wider network of organisations details: <%= survey.settings["wider_network_details"] %>
  </p>
  -->

  <p>
    What kind of conservation activities does the organisation do?:
    <ul>
    <% multiple_choice_answers(survey, "kind_of_conservation_activities").each do |kind| %>
      <li>
        <%= kind %>
      </li>
    <% end %>
    </ul>
  </p>

  <p>
   What kind of conservation activities does the organisation do (other)?: <%= survey.settings["kind_of_conservation_activities_other"] %>
  </p>

  <p>
    Date established: <%= to_date(survey.settings["date_established"].map{|k,v| v}.join("-")) %>
  </p>

  <p>
    Course website/url: <%= survey.settings["course_url"] %>
  </p>

  <p>
    Size of organisation: <%= survey.settings["size_of_organisation"] %>
  </p>

  <p>
    Sub group explanation: <%= survey.settings["sub_group_explanation"] %>
  </p>

  <p>
    Organisation funding sources:
    <ul>
    <% multiple_choice_answers(survey, "organisation_funding_sources").each do |source| %>
      <li>
        <%= source %>
      </li>
    <% end %>
    </ul>
  </p>
  <p>
    Organisation funding sources other: <%= survey.settings["organisation_funding_sources_other"] %>
  </p>

  <p>
    Geographical scope of the group/organisation (please select all that apply):
  </p>
  <p>
    <ul>
    <% multiple_choice_answers(survey, "geographical_scopes").each do |gs| %>
      <li>
        <%= gs %>
      </li>
    <% end %>
    </ul>
  </p>


  <!---
  <p>
    Follow up session?: <%= survey.settings["follow_up_session"] %>
  </p>
  --->

  <p>
    Session date: <%= to_date(survey.settings["session_date"].map{|k,v| v}.join("-")) %>
  </p>

  <p>
    What do you hope to achieve from using GO-FOX with this class?: <%= survey.settings["hope_to_achieve"] %>
  </p>
<% end %>
