<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @survey.name %>
</p>

<p>
  <strong>Published:</strong>
  <%= @survey.published %>
</p>

<p>
  <strong>User:</strong>
  <%= @survey.user %>
</p>

<hr>

<h5>Responses</h5>

<%= link_to "Take the survey", new_survey_response_path(@survey) %>

<% @survey.responses.each do |response| %>
  <%= link_to "#{response.id} - #{response.created_at.to_formatted_s(:long)}", survey_response_path(@survey, response) %>
<% end %>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
