<% content_for :title do %>
  Classifications
<% end %>

<div class="container content-padding">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Results description</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @classifications.each do |classification| %>
        <tr>
          <td><%= classification.name %></td>
          <td><%= classification.description %></td>
          <td><%= classification.results_description %></td>
          <td><%= link_to 'Show', classification %></td>
          <td><%= link_to 'Edit', edit_classification_path(classification) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= link_to 'New Classification', new_classification_path,  class: 'button--blue-shadow' %>
</div>