<div class="static-page__logo-banner flex-wrap flex-center">
  <%= link_to "", "https://www.geog.cam.ac.uk/graduate/mphil/conservation/", title: "University of Cambridge - Masters in Conservation Leadership", class: "logo--uoc" %>
  <%= link_to "", "https://environment.leeds.ac.uk/", title: "University of Leeds - Faculty of Environment", class: "logo--uol" %>
  <%= link_to "", "https://www.ed.ac.uk/geosciences/", title: "University of Edinburgh - School of Geosciences", class: "logo--uoe" %>
</div>
<div class="flex-wrap flex-center">
  <%= link_to "", "https://www.unep-wcmc.org/", title: "UN Environment World Conservation Monitoring Centre", class: "logo--unepwcmc" %>
  <%= link_to "", "https://www.fauna-flora.org/", title: "Fauna & Flora International", class: "logo--ffi" %>
</div>