<% content_for :title do %>
  Manage users
<% end %>

<div class="container content-padding">
  <div class="flex">
    <div class="flex-4-fiths">

      <div class="box--grey-light">
        <ul class="table--users ul-unstyled">
          <li class="table__header flex">
            <span class="table__heading-0"></span>
            <p class="table__heading table__heading-1">Username</p>
            <p class="table__heading table__heading-2">Organisation</p>
            <p class="table__heading table__heading-3">Email</p>
          </li>

          <% @users.each do |user| %>
            <li class="table__row flex flex-v-center">
              <i class="table__heading-0 material-icons table__icon">person</i>
              <p class="table__heading-1">
                <% if user.admin? %>
                (A)
                <% end %>
                <% if user.use_type == "organisational" %>
                (O)
                <% elsif user.use_type == "educational" %>
                (E)
                <% end %>
                <%= user.username %>
              </p>
              <p class="table__heading-2"><%= user.organisation_name %></p>
              <p class="table__heading-3"><%= user.email %></p>

              <p class="table__buttons flex flex-v-center">
                <%= link_to admin_user_path(user), method: :delete, data: { confirm: 'Are you sure you want to permanently delete this user?' }, title: 'Delete result', class: 'button--delete flex flex-v-center' do %>
                  <i class="material-icons">delete</i>
                <% end %>

                <%= link_to edit_admin_user_path(user), title: 'Edit', class: 'button--edit' do %>
                  <i class="material-icons">mode_edit</i>Edit
                <% end %>

                <%= link_to surveys_path(user: user.id), title: 'Surveys', class: 'button--large-chevrons' do %>
                  View dashboard<i class="material-icons">chevron_right</i><i class="material-icons">chevron_right</i>
                <% end %>
              </p>
            </li>
          <% end %>

        </ul>
      </div>
    </div>

    <div class="flex-1-fith flex-vs-start box--beige-light box-margin-left">
      <%= render 'global_admin/cta_edit_account' %>
    </div>
</div>
