<%= form.label :title, title %>
<% if local_assigns[:description] %>
  <p> <%= description %> </p>
<% end %>
<div class="b-collection flex flex-wrap">
  <% if type == 'radio' %>
    <%= form.collection_radio_buttons(*rb_config) do |b| %>
      <span class="b-collection__option flex"><%= b.radio_button + b.label %></span>
    <% end %>
  <% else %>
    <%= form.collection_check_boxes(*rb_config) do |b| %>
      <span class="b-collection__option flex"><%= b.check_box + b.label %></span>
    <% end %>
  <% end %>
</div>