<!DOCTYPE html>
<html>
  <head>
    <title>GoFox</title>
    <%= csrf_meta_tags %>
    
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'application-vue' %>
    
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#04327b">
    <meta name="msapplication-TileColor" content="#04327b">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body>
    <%= render 'global/topbar' %>

    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <div id="v-app">

        <modal>
          <h2>Account details</h2>
          <%= render 'global/my_account' %>
        </modal>
        <modal-wrapper></modal-wrapper>
        <%= yield %>
      </div>
    </div>

    <%= render 'global/footer' %>
  </body>
</html>
