<!DOCTYPE html>
<html>
  <head>
    <title>GoFox</title>
    <%= csrf_meta_tags %>
    
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'application-vue' %>
  </head>

  <body>
    <%= render 'global/topbar' %>

    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <div id="v-app">

        <modal>
          <h2>Account details</h2>
        </modal>
        <modal-wrapper></modal-wrapper>
        <%= yield %>
      </div>
    </div>

    <%= render 'global/footer' %>
  </body>
</html>
