<!DOCTYPE html>
<html>
  <head>
    <title>GoFox</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i,700" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application-vue' %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application-vue' %>

    <%= render 'global/favicon' %>
  </head>

  <body class="base--admin">

    <%= render 'global_admin/topbar' %>
    <%= render 'global_admin/nav' %>

    <% if content_for?(:title) %>
      <%= render partial: 'global_admin/page_title', locals: { title: content_for(:title) } %>
    <% end %>

    <%= render 'global_admin/flash_message' %>

    <div id="v-app">
      <%= yield %>
    </div>
    <% if current_user %>
      <%= render 'global_admin/footer' %>
    <% else %>
      <%= render 'global_public/footer' %>
    <% end %>
  </body>
</html>
