<!DOCTYPE html>
<html>
  <head>
    <title>GoFox</title>
    <%= csrf_meta_tags %>
    
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i,700" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %>

    <%= javascript_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'application-vue' %>
    
    <%= render 'global/favicon' %>
  </head>

  <body class="base--admin">
    <%= render 'global_admin/topbar' %>

    <div class="container">
      <% if notice %><p class="notice"><%= notice %></p><% end %>
      <% if alert %><p class="alert"><%= alert %></p><% end %>
      
      <div id="v-app">

        <modal>
          <h2>Account details</h2>
          <%= render 'global_admin/my_account' %>
        </modal>
        <modal-wrapper></modal-wrapper>
        <%= yield %>
      </div>
    </div>

    <%= render 'global_admin/footer' %>
  </body>
</html>
