<!DOCTYPE html>
<html>
  <head>
    <% if Rails.env == 'production' %>
      <%= render 'shared/google_analytics' %>
    <% end %>
    
    <title>The Future of Conservation</title>
    <%= csrf_meta_tags %>
    <meta content='width=device-width,initial-scale=1.0' name='viewport'>

    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i,700" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application-vue' %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application-vue' %>

    <%= render 'global/favicon' %>
  </head>

  <body class="base--public">
    <div id="v-app">
      <%= render 'global_public/topbar' %>
      <%= render 'global_admin/flash_message' %>

      <%= yield %>

      <%= render 'global_public/footer' %>
  </div>
  </body>
</html>
